@model GfyBazar.Models.Customer


<nav class="yamm megamenu-horizontal">
    <ul class="nav">
@if (Model != null)
{
    if (Model.lstMainCategory != null)
    {
        foreach (var item1 in Model.lstMainCategory)
        {
            <li class="dropdown menu-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>@item1.MainCategoryName</a>
                <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                            @foreach (var item2 in Model.lstCategory)
                            {
                                if (item2.MainCategoryID == item1.MainCategoryID)
                                {
                                    <div class="col-sm-12 col-md-3">
                                        <ul class="links list-unstyled">
                                            <li><a onclick="return openloader();" href="/Customer/ProductList?id=@item2.CategoryID&Status=Category&f=menu">@item2.CategoryName</a></li>
                                        
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu -->
            </li>

        }
    }
}
    </ul>

</nav>
