
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="/Home/Index">Home</a></li>
                <li class='active'>About Us</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content">
    <div class="container">
        <div class="checkout-box faq-page">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-title">About Us</h2>

                    <div class="panel-group checkout-steps" id="accordion">
                        <p>
                            Welcome To Gfy, Your Number One Digital Platform For Many Online Works. We're Dedicated To Providing You The Very Best Of Services With An Emphasis On Recharge , Shopping, And Other Online Products..
                        </p>
                        <p>
                            Founded In 2019 By Dhara World Health & Personal Care Pvtltd ,Gfy Has Come A Long Way From Its Beginnings .
                        </p>
                        <p>
                            We Hope You Will Enjoy Our Services As Much As We Enjoy Offering Them To You. If You Have Any Questions Or Comments, Please Don't Hesitate To Contact Us.
                        </p>

                        Sincerely,<br />
                        Dhara World Health & Personal Care Pvt Ltd

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


